*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: darkgray;
}
.box{
    position: absolute;
    width: 600px;
    height: 600px;
    background: greenyellow;
    top: 50%;
    left: 50%;
    margin: -300px -300px;
}
.box .face{
    position: absolute;
    width: 300px;
    height: 500px;
    background: rgb(249, 201, 119);
    border-radius: 150px;
    top: 50%;
    left: 50%;
    margin: -250px -150px;
}
.box .hair1{
    position: absolute;
    width: 350px;
    height: 215px;
    background: rgb(0, 0, 0);
    border-radius: 150px;
    left: 150px;
    top: 5px;
}
.box .hair2{
    position: absolute;
    width: 80px;
    height: 200px;
    background: rgb(0, 0, 0);  
    border-radius: 50%; 
    top: 90px;
    left: 120px;
}
.box .hair3{
    position: absolute;
    width: 80px;
    height: 200px;
    background: rgb(0, 0, 0);  
    border-radius: 50%;
    top: 90px;
    left: 420px;    
    transform: rotate(15deg);
}
.box .ear1{
    position: absolute;
    width: 40px;
    height: 100px;
    background: rgb(249, 201, 119);
    border-radius: 40%; 
    top: 270px;  
    left: 118px; 
    transform: rotate(-10deg);
}
.box .ear2{
    position: absolute;
    width: 40px;
    height: 100px;
    background: rgb(249, 201, 119);
    border-radius: 40%; 
    top: 270px;  
    left: 439px; 
    transform: rotate(10deg);
}
.box .hair-l{
    position: absolute;
    width: 20px;
    height: 100px;
    border-radius: 50%;
    background: rgb(249, 201, 119);
    top: 215px;
    left: 168px;
    transform: rotate(27deg);
}
.box .hair-r{
    position: absolute;
    width: 20px;
    height: 100px;
    border-radius: 50%;
    background: rgb(249, 201, 119);
    top: 225px;
    right: 165px;
    transform: rotate(-16deg);
}
.box .face .eye-l{
    position: absolute;
    width: 56px;
    height: 28px;
    background: rgb(255, 255, 255);
    top: 250px;
    left: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60%;
}
.box .face .eye-r{
    position: absolute;
    width: 56px;
    height: 28px;
    background: rgb(255, 255, 255);
    top: 250px;
    right: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 70%;
}
.box .face .eye-l .ball-l{
    position: absolute;
    width: 28px;
    height: 30px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    left: 13px;
}
.box .face .eye-r .ball-r{
    position: absolute;
    width: 28px;
    height: 30px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    left: 13px;
}
.box .face .eyebrow-l{
    position: absolute;
    width: 60px;
    height: 12px;
    background: rgb(0, 0, 0); 
    top: 220px;
    left: 60px;
    border-radius: 4px;
}
.box .face .eyebrow-l .l{
    position: absolute;
    width: 30px;
    height: 12px;
    background: rgb(0, 0, 0);
    left: -22px;
    top: 8px;
    transform: rotate(-34deg);
}
.box .face .eyebrow-l .rm{
    position: absolute;
    width: 35px;
    height: 12px;
    background: rgb(249, 201, 119);
    left: -33px;
    top: 5px;
    transform: rotate(-50deg);   
}
.box .face .eyebrow-r{
    position: absolute;
    width: 60px;
    height: 12px;
    background: rgb(0, 0, 0); 
    top: 220px;
    right: 60px;
    border-radius: 4px;
}
.box .face .eyebrow-r .r{
    position: absolute;
    width: 30px;
    height: 12px;
    background: rgb(0, 0, 0);
    right: -22px;
    top: 8px;
    transform: rotate(34deg);
}
.box .face .eyebrow-r .rm{
    position: absolute;
    width: 35px;
    height: 12px;
    background: rgb(249, 201, 119);
    right: -33px;
    top: 5px;
    transform: rotate(50deg);   
}
.box .face .face-2{
    position: absolute;
    width: 300px;
    height: 185px;
    bottom: 0px;    
}
.box .face .face-2 .nose{
    position: absolute;
    width: 80px;
    height: 35px;
    background: rgb(249, 201, 119);
    left: 50%;
    margin-left: -40px;
}
.box .face .face-2 .nose .nose-1{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(249, 201, 119);
    bottom: -10px;
    left: 25px;
    box-shadow: 1px 1px 1px #caa058;
}
.box .face .face-2 .nose .nose-2{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(249, 201, 119);
    bottom: -7px; 
    box-shadow: inset .5px -1px .9px #caa058; 
}
.box .face .face-2 .nose .nose-3{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(249, 201, 119);
    right: 0;
    bottom: -7px;  
    box-shadow: .5px 1px .9px #caa058; 
}
.box .face .face-2 .nose .nose-4{
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: rgb(249, 201, 119);
    left: 5px;
    bottom: -28px;
    box-shadow: inset;  
    box-shadow: inset .001px .6px .9px #caa058; 
}
.box .face .face-2 .nose .nose-5{
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: rgb(249, 201, 119);
    right: 5px;
    bottom: -28px; 
    box-shadow: inset .001px .6px .9px #caa058; 
     
}
.box .face .mouth{
    position: absolute;
    width: 106px;
    height: 40px;
    background: rgb(135, 17, 17);
    left: 97px;
    bottom: 79px;
    border-radius: 70%;
}
.box .face .btl{
    position: absolute;
    width: 46px;
    height: 12px;
    background: rgb(0, 0, 0);
    left: 80px;
    bottom: 103px;
    transform: rotate(-25deg);

}
.box .face .btr{
    position: absolute;
    width: 46px;
    height: 12px;
    background: rgb(0, 0, 0);
    right: 80px;
    bottom: 103px;
    transform: rotate(25deg);

}
.box .face .bt{
    position: absolute;
    width: 60px;
    height: 13px;
    background: rgb(0, 0, 0);
    left: 120px;
    bottom: 112px;
    border-radius: 20%;

}
